{% extends "base.html" %}

{% block header %}ソールナンバーで見る相性ランキング{% endblock %}

{% block content %}
    ※メノニューイヤーのメンバーは、今後追加予定。。
    <table class="table table-striped">
        <thead>
            <tr><th>順位</th><th>メンバー名</th><th>SoulNo</th></tr>
        </thead>
        <tbody>
            {% for ranking in rankings %}
                <tr>
                    <th>
                        {{ranking['rank']}}
                    </th>
                    <td>
                        {{ranking['name']}}
                    </td>
                    <td>
                        {{ranking['soulno']}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h2>ソウルナンバーの性格・恋愛傾向について</h2>
    <a href="{{url_for('soulno_01')}}">ソウルナンバー１</a>
{% endblock %}

{% block footer %}<a href="{{url_for('index')}}">TOPに戻る</a>{% endblock %}
