{% extends "base.html" %}

{% block header %}<h1>ソウルナンバー　１</h1>{% endblock %}

{% block content %}
<h2>一風変わった頭脳明晰な先駆者</h2>
<p>
    <h3>性格</h3>
    ソウルナンバー１の方は、頭脳明晰で、１度決めたことはどんなことがあってもやり遂げるパワーと、人に強い影響力をもたらすカリスマ性がある。
    リーダーとしての素質も十分にあり、周囲を導く立場に立つことが多い
    とても努力家で、労力を惜しまず集中して目標を達成することが出来るだろう。
    自分の力に自信をもって行動していこう！
    ・新しいものに弱い
    ・地位や権力を好む傾向にある
    ・サプライズ、華やかな場所がすき
    ・切り替えが早い
    ・考えるより行動が先
    行動力がある反面、せっかちな綿もあるため、空回りしたり、一人で暴走したりしてしまうことがある。
    ストレスが過度になるとキレやすく、批判的になり、敵を作ってしまうかもしれない。
    悪い方向に向かうと、理解を得られず、人気物とは逆に孤立してしまうことがある。
<p/>
<p>
    <h3>恋愛傾向</h3>
    美意識が高く、おしゃれな人が好み。
    情熱的になることが多い。
    ロマンティックな盛り上がりに欠けると急に冷めることが多い。そのため、長続きしないこともある。
    独占欲が強く、支配欲が強いので、冷静になる努力が必要であり、マイペースで進めていくのがおすすめ。
    <h4>好きになったら…</h4>
    ソウルナンバー１の方は、脈がないとあっさりと諦めてしまう傾向があるため、じらしたり、駆け引きをするよりも素直に好意を示した方が良い。
</p>
<p>
    <h3>向いているお仕事</h3>
    企画や発明、フリーランス、起業家のほか、カリスマ性や影響力の強さを活かせる政治家、映画監督、会社役員、芸能人、教育者がおすすめ。
</p>
{% endblock %}

{% block footer %}<a href="{{url_for('index')}}">TOPに戻る</a>{% endblock %}
